:root{
    --primary-color: #171719;
    --second-color: #eaeaea;
    --third-color: #b7d3c4;
    --fourth-color: #0d47ff;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user-container {
    background-color: rgb(220, 220, 220);
}

.user-freelancer-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    padding: 3rem;
    place-content: center;
}

.user-greeting {
    display: grid;
    grid-template-rows: auto auto;
    gap: 2rem;
}

.user-greeting-date {
    display: grid;
    align-items: center;
    outline: 2px solid var(--third-color);
    border-radius: 6px;
    grid-template-columns: 1fr auto;
    background-color: white;
    padding: 1rem;
}
.user-greeting-info{
    display: grid;
    gap: 1rem;
}
.user-greeting-info h2{
    width: 30%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.send-icon{
    width: 100px;
    fill: var(--primary-color);
}
.user-searchForJob {
    display: grid;
    grid-template-columns: 1fr auto;
    outline: 2px solid var(--third-color);
    border-radius: 6px;
    background-color: white;
}
.search-area:focus{
    border: 2px solid var(--fourth-color);
    outline: none;
}
.search-icon {
    display: grid;
    place-items: center;
    background-color: var(--fourth-color);
    padding: 0.8rem 0.6rem;
    cursor: pointer;
}
.jobs-liked-category {
    display: grid;
    place-content: start;
    border: 1px solid rgb(251, 251, 251);
    border-radius: 10px;
    padding-bottom: 2rem;
    background-color: white;
    outline: 2px solid var(--third-color);

}

.job-you-like-details {
    display: grid;
    padding: 1rem;
    grid-template-columns: auto 30px;
}

.jobs-you-like {
    display: grid;
    place-content: start;
    padding-bottom: 1rem;
}

.jobs-three-dots {
    border: 1px solid rgb(215, 212, 212);
    border-radius: 100px;
    height: 30px;
    display: grid;
    place-content: center;
    font-weight: bold;
}

.jobs-filtered {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    padding: 1rem;
    gap: 1.5rem;
    border-bottom: 1px solid var(--third-color);
}

.jobs-filtered-category {
    transition: 0.3s ease;
    font-weight: bold;
}

.jobs-filtered-category:hover {
    color: var(--fourth-color);
    cursor: pointer;
}
.job-custom{
    background-color: var(--second-color);
    border-bottom: 1px solid var(--third-color);
    cursor: pointer;
}

.job-custom:last-child{
    border-bottom: none;
}
.job-browse-paragraph {
    display: grid;
    place-content: start;
    font-size: 13px;
    border-bottom: 1px solid rgb(176, 176, 176);
    padding: 1rem;
    
}

.jobs-theme-development {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;
}
.jobs-ghost-h4:hover {
    text-decoration: underline;
    transition: 0.2s ease-in-out;
    color: var(--fourth-color);
}

.dislike-button,
.like-button {
    border: 1px solid rgb(212, 211, 211);
    width: 30px;
    height: 30px;
    border-radius: 2rem;
    display: grid;
    padding: 1.2rem;
    place-content: center;
}
.dislike-button:hover,
.like-button:hover{
    background-color: var(--third-color);
    transition: 0.3s ease-out;
}


.job-info-details {
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: grey;
    padding: 1rem;
    place-content: start;
    gap: 0.4rem;
    font-size: 12px;
}

.job-span:hover {
    color: var(--primary-color);
}

.job-description {
    display: grid;
    place-content: start;
    padding: 1rem;
    font-size: 13px;
}

.job-span-details {
    display: grid;
    grid-auto-flow: column;
    gap: 0.3rem;
    padding: 1rem;
}

.job-span-plus {
    color: white;
    background-color: var(--fourth-color);
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.5rem 0.7rem;
    width: min-content;
}

.job-span-payment {
    display: grid;
    grid-template-columns: 20px 120px;
    font-weight: lighter;
    gap: 0.5rem;
    place-items: center;
}
.job-span-rating{
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    width: min-content;
}
.job-span-rating:hover {
    color: rgb(62, 62, 3);
}

.job-span-location {
    display: grid;
    grid-template-columns: 20px 60px;
    font-weight: lighter;
    place-items: center;
    gap: 0.5rem;
}

.user-container-info {
    display: grid;
    outline: 2px solid var(--third-color);
    place-content: start;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    background-color: white;
    height: min-content;
}

.user-details {
    display: grid;
    place-content: center;
    padding: 1.4rem 0;
    gap: 0.4rem;
    justify-items: center;
}
.user-details:hover{
    color: var(--fourth-color);
    transition: 0.5s ease;
}
.user-image {
    display: grid;
    place-content: center;
    width: 70px;
    border: 1px solid var(--second-color);
    border-radius: 50px;
    cursor: pointer;
}

.user-fullname {
    display: grid;
    cursor: pointer;
    place-content: start;
    border-bottom: 2px solid rgb(167, 167, 167);
}

.user-job {
    display: grid;
    place-content: start;
}

.user-profile {
    display: grid;
    padding: 1rem;
    background-color: var(--second-color)
}

.profile-completeness {
    display: grid;
    padding: 1.4rem;
    border-bottom: 1px solid var(--third-color);
}

.profile-name {
    display: grid;
    place-content: start;
    padding-bottom: 1rem;
}
.profile-name:hover{
    text-decoration: underline;
    color: var(--primary-color);
}
.user-stand-wrapper {
    display: grid;
    padding: 1rem 0;
    gap: 1rem;
}

.user-stand-out {
    font-size: 14px;
    font-weight: bold;
    display: grid;
    place-content: center;
}

.user-more-info {
    display: grid;
    place-content: center;
    padding: 0.4rem 0;
    padding: 1rem;
    font-size: 14px;
    border: 1px solid var(--third-color);
    background-color: white;
    gap: 1rem;
}

.add-work {
    color: var(--fourth-color);
    font-weight: bold;
    cursor: pointer;
}

.all-badge {
    display: grid;
    gap: 1rem;
    font-weight: bold;
}

.available-connects {
    display: grid;
    padding: 1rem;
    color: var(--fourth-color);
    font-weight: bold;
    border: 1px solid var(--third-color);

}

.ava-badge {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    border: 1px solid var(--third-color);
    gap: 1rem;
    padding: 1rem;
    place-content: space-between;
    font-weight: normal;
    align-items: center;
}

.change-icon {
    display: grid;
    place-content: center;
    border: 1px solid var(--second-color);
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 1rem;
}
