:root{
    --primary-color: #171719;
    --second-color: #eaeaea;
    --third-color: #b7d3c4;
    --fourth-color: #0d47ff;
  }
form {
    display: grid;
    justify-content: center;
    gap: 1rem;
}

input {
    padding: 0.7rem 1rem;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    width: 100%;
}

input.submit-button {
    background-color: var(--primary-color);
    border: none;
    width: 100%;
    padding: 0.8rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
}

.userTypeRadio {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}

.userTypeRadio label {
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    padding: 5px 4px;
    border-radius: 10px;
    border: 1px solid var(--fourth-color);
}

.userTypeRadio label.active {
    background-color: var(--fourth-color);
    color: white;
}

.userTypeRadio input {
    display: none;
}