.sign-up-form {
    display: grid;
    gap: 30px;
    padding: 2rem 3rem;
}

.sign-up-form input {
    outline: 1px solid black;
}

.sign-up-form div {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
}