* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.intro-container {
    width: 100vw;
    /* height: 100vh; */
    display: grid;
    grid-template-rows: auto auto auto;
    place-content: center;
}

.intro-ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 200px));
    /* place-content: center; */
    padding: 1rem 0;
}

.intro-list {
    list-style: none;
    font-weight: bold;
    color: #171719;
}

.intro-list:hover {
    color: #0d47ff;
}

.main-section {
    display: grid;
    padding: 1rem;
    /* place-content: center; */
    grid-template-columns: repeat(2, minmax(300px, auto));
    gap: 2rem;
}

.intro-titles {
    display: grid;
    grid-template-rows: auto auto auto;
    /* height: 400px; */
}

.intro-h1 {
    display: grid;
    place-items: center;
    /* justify-content: start; */
    width: auto;
    padding: 1rem;
    font-size: 60px;
    color: #0d47ff;
}

.intro-h3 {
    display: grid;
    place-items: center;
    justify-content: center;
}

.intro-find {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    width: auto;
    height: auto;
    padding: 1rem;
    place-items: center;
    justify-content: center;
}

.find-talent {
    padding: 0.7rem;
    background-color: #0d47ff;
    color: #eaeaea;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

.find-talent:hover {
    background-color: #5276ed;
}

.find-work {
    padding: 0.7rem;
    color: #0d47ff;
    background-color: #eaeaea;
    border: 1px solid #0d47ff;
    font-weight: bold;
    border-radius: 20px;
}

.find-work:hover {
    background-color: #8e9eda;
}

.intro-img {
    display: grid;
    border-radius: 200px;
    width: 500px;
    height: auto;
    padding: 1rem;
}

section {
    /* background-image: url('https://www.genequityco.com/images/general/choose-the-right-candidate-59633f2a588ca.jpg'); */
    /* background-size: 150vh; */
    /* width: 100vw; */
    /* background-position: top; */
    background-repeat: no-repeat;
}

.second-section {
    background-image: url('https://www.genequityco.com/images/general/choose-the-right-candidate-59633f2a588ca.jpg');
    /* height: 700px; */
    background-size: cover;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 600px auto;
}

.for-clients-section {
    height: auto;
    display: grid;
    grid-template-rows: auto auto auto;
    place-content: start;
    padding: 1rem;
}

.h4-for-client {
    padding: 1rem 0;
}

.h3-for-client {
    height: 50px;
    padding: 2rem 0;
}

.btn-for-client {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    width: auto;
    height: auto;
    padding: 1rem;
    place-items: center;
    justify-content: center;
}

.button-for-job {
    background-color: #0d47ff;
    color: #eaeaea;
    border: none;
    padding: 1rem;
}

.button-for-projects {
    background-color: #0d47ff;
    color: #eaeaea;
    border: none;
    padding: 1rem;
}

.button-for-talent {
    background-color: #0d47ff;
    color: #eaeaea;
    border: none;
    padding: 1rem;
}