:root{
    --primary-color: #171719;
    --second-color: #eaeaea;
    --third-color: #b7d3c4;
    --fourth-color: #0d47ff;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.intro-container {
    display: grid;
    grid-template-rows: auto auto auto;
    place-content: center;
    padding: 1rem;
    gap: 1rem;
}

.intro-ul {
    display: grid;
    grid-auto-flow: column;
    place-content: start;
    gap: 2rem;
    padding: 1rem 0rem;
}

.intro-list {
    list-style: none;
    font-weight: bold;
    color: var(--primary-color);
}

.intro-list:hover {
    color: var(--fourth-color);
}

.main-section {
    display: grid;
    /* place-content: center; */
    grid-template-columns: repeat(2, minmax(300px, auto));
    gap: 2rem;
}

.intro-titles {
    display: grid;
    align-items: center;
}

.intro-h1 {
    display: grid;
    font-size: 60px;
    color: var(--fourth-color);
}

.intro-h3 {
    display: grid;
    place-items: center;
    color: var(--primary-color);
    justify-content: center;
}

.intro-find {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    width: auto;
    height: auto;
    place-content: start;
}

.find-talent {
    padding: 0.7rem;
    background-color: #0d47ff;
    color: #eaeaea;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.find-talent:hover {
    filter: brightness(80%);
}

.find-work {
    padding: 0.7rem;
    color: var(--fourth-color);
    background-color: var(--third-color);
    border: 1px solid var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.find-work:hover {
    filter: brightness(80%);
}

.intro-img {
    display: grid;
    border-radius: 200px;
    width: 500px;
    height: auto;
    padding: 1rem;
}

.second-section {
    background-image: url('https://www.genequityco.com/images/general/choose-the-right-candidate-59633f2a588ca.jpg');
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    display: grid;
    font-size: 1.7rem;
    color: var(--primary-color);
}

.for-clients-section {
    display: grid;
    padding: 1rem;
    gap: 2rem;
}
.h3-for-client {
    padding: 2rem 0;
}
.h6-for-client{
    width: 40ch;
}
.btn-for-client {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    place-content: center;
}

.button-for-job,
.button-for-projects,
.button-for-talent {
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 8px;
    width: 20ch;
    padding: 1rem;
}