:root{
    --primary-color: #171719;
    --second-color: #eaeaea;
    --third-color: #b7d3c4;
    --fourth-color: #0d47ff;
}
.client-main-dashboard{
    background-color: var(--third-color);
    padding: 2rem;
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-content: flex-start;
}
.client-dashboard-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left-side{
    display: grid;
    gap: 0.6rem;
}
.right-side{
    text-align: end;
}
.post-a-job__btn{
    border-radius: 2rem;
    background-color: var(--fourth-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 1rem 3rem;
    border: none;
}
.client-dashboard-posting,
.work-with-talent{
    width: 800px;
    background-color: var(--second-color);
    display: grid;
    align-items: start;
    border-radius: 10px; 
}
.posting-header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    padding: 2rem;
    border-bottom: 1px solid var(--third-color);
}
.posting-header h5{
    color: var(--fourth-color);
    cursor: pointer;
}
.posting-header h5:hover{
    text-decoration: underline;
}
.posting-main{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    place-items: center;
}
.client-main-dashboard svg{
    width: 120px;
}
.work-with-talent__header{
    position: relative;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid var(--third-color);
}
.arrow-icon{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    fill: var(--fourth-color);

}

.work-with-talent__list-item{
    display: grid;
    border-bottom: 1px solid var(--third-color);
    padding: 1rem;
    grid-template-columns: auto 1fr;
    gap: 2rem;
}
.describe-section{
    font-size: 0.85rem;
    display: grid;
    align-content: flex-start;
    gap: 1rem;
}