.getting-started {
    max-width: 900px;
    width: 100%;
    text-align: left;
}

.getting-started form {
    padding: 2rem 0;
}

.getting-started form .labels {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 20px;
}

.getting-started form label {
    display: grid;
    grid-template-columns: 1fr 10px;
    padding: 3rem;
    border-radius: 1rem;
    border: 1px solid #b7d3c4;
    /* background-color: #eaeaea; */
}

.getting-started form label:hover,
.getting-started form label.active {
    background-color: #eaeaea;
    border-color: #0d47ff;
}

.radio-info {
    text-align: center;
    max-width: 30ch;
    display: grid;
    justify-items: center;
    gap: 10px;
}